<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button
                (click)="closeModal()"
                expand="block"
                fill="clear"
                shape="round"
            >
            <ion-icon name="close" color="warning"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>QR CODE SCANN</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>        
        <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card>
</ion-content>
