.panier-btn{
    position: relative;
}
.number{
    position: absolute;
    margin-left: 10px;
    margin-top: -25px                                                                                                                                                                 ;
}
.panier{
    margin-left: 40px;
}